<li>
	{{songTitle}}

	<button class="change-playlist" data-id="{{id}}" data-title="{{songTitle}} " data-newSong="{{listen}}">
		{{#if addedPlaylist}}Listen!{{else}}Add it to the playlist!!{{/if}}
	</button>

    <button class= "delete-song" data-id="{{this.id}}">Delete</button>
</li>
